@using WebTinTuc.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<New>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    @foreach (var item in Model)
                    {
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post mb-30">
                            <div class="post-thumb">
                                <a href="@Url.Action("Details","News",new { id= item.ID})"><img src="~/Img_News/@item.image" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="@Url.Action("Details","News",new { id= item.ID})" class="post-title" style="text-decoration:none;">
                                    <h6>@item.Title</h6>
                                </a>
                                <div class="post-meta">
                                    <p class="post-author">Tác giả <a href="#">@item.Author</a></p>
                                    <p class="post-excerp">@item.Content.Substring(0, 200) ...</p>
                                    <!-- Post Like & Post Comment -->
                                    @*<div class="d-flex align-items-center">
                                    <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                    <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                                </div>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <div class="latest-posts-widget mb-50">
                        @Html.Action("ListNews", "News")
                    </div>

                    @*Popular News Widget
                <div class="popular-news-widget mb-50">
                    <h3>4 Most Popular News</h3>

                    Single Popular Blog
                    <div class="single-popular-post">
                        <a href="#">
                            <h6><span>1.</span> Amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales.</h6>
                        </a>
                        <p>April 14, 2018</p>
                    </div>

                    Single Popular Blog
                    <div class="single-popular-post">
                        <a href="#">
                            <h6><span>2.</span> Consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer.</h6>
                        </a>
                        <p>April 14, 2018</p>
                    </div>

                    Single Popular Blog
                    <div class="single-popular-post">
                        <a href="#">
                            <h6><span>3.</span> Adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo.</h6>
                        </a>
                        <p>April 14, 2018</p>
                    </div>

                    Single Popular Blog
                    <div class="single-popular-post">
                        <a href="#">
                            <h6><span>4.</span> Eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                        </a>
                        <p>April 14, 2018</p>
                    </div>
                </div>

                Newsletter Widget
                <div class="newsletter-widget mb-50">
                    <h4>Newsletter</h4>
                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <form action="#" method="post">
                        <input type="text" name="text" placeholder="Name">
                        <input type="email" name="email" placeholder="Email">
                        <button type="submit" class="btn w-100">Subscribe</button>
                    </form>
                </div>

                Latest Comments Widget
                <div class="latest-comments-widget">
                    <h3>Latest Comments</h3>

                    Single Comments
                    <div class="single-comments d-flex">
                        <div class="comments-thumbnail mr-15">
                            <img src="img/bg-img/29.jpg" alt="">
                        </div>
                        <div class="comments-text">
                            <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                            <p>06:34 am, April 14, 2018</p>
                        </div>
                    </div>

                    Single Comments
                    <div class="single-comments d-flex">
                        <div class="comments-thumbnail mr-15">
                            <img src="img/bg-img/30.jpg" alt="">
                        </div>
                        <div class="comments-text">
                            <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                            <p>06:34 am, April 14, 2018</p>
                        </div>
                    </div>

                    Single Comments
                    <div class="single-comments d-flex">
                        <div class="comments-thumbnail mr-15">
                            <img src="img/bg-img/31.jpg" alt="">
                        </div>
                        <div class="comments-text">
                            <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                            <p>06:34 am, April 14, 2018</p>
                        </div>
                    </div>

                    Single Comments
                    <div class="single-comments d-flex">
                        <div class="comments-thumbnail mr-15">
                            <img src="img/bg-img/32.jpg" alt="">
                        </div>
                        <div class="comments-text">
                            <a href="#">Jamie Smith <span>on</span> Facebook is offering facial recognition...</a>
                            <p>06:34 am, April 14, 2018</p>
                        </div>
                    </div>
                </div>*@
                </div>
            </div>
            @*<nav aria-label="Page navigation example">
                <ul class="pagination mt-50">
                    <li class="page-item active"><a class="page-link" href="#">@(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</a></li>
                </ul>
            </nav>*@
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("Categories", new { page = page }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }
            </style>
        </div>
    </div>

</div>


<!-- ##### Blog Area End ##### -->
